<template>
  <q-page padding>
    <q-card>
      <CustomeTable :columns="columns" :rows="getMyContact" title="مخاطبین" />
    </q-card>
    <q-page-sticky position="bottom-right" :offset="[18, 18]">
      <q-btn fab icon="add" color="primary" @click="contactDialog = true" />
    </q-page-sticky>
    <q-dialog v-model="contactDialog">
      <q-card class="no-shadow">
        <AddContact />
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script>
import { mapGetters } from "vuex";
import CustomeTable from "src/components/CustomeTable.vue";
import AddContact from "src/components/AddContact.vue";

export default {
  components: { CustomeTable, AddContact },
  computed: {
    ...mapGetters("sms", ["getMyContact"]),
  },
  data() {
    return {
      contactDialog: false,
      columns: [
        {
          name: "name",
          required: true,
          label: "نام",
          align: "left",
          field: "name",
          sortable: true,
        },
        {
          name: "phone",
          align: "center",
          label: "شماره تماس",
          field: "phone",
          sortable: true,
        },
      ],
    };
  },
};
</script>

<style></style>
