<template>
  <div>
    <div v-if="loading">
      <Loading />
    </div>
    <div v-else>
      <div class="row justify-between items-center content-center">
        <div class="row items-center content-center q-gutter-x-sm">
          <div>
            <q-input
              dense
              label="از تاریخ"
              filled
              v-model="date.from"
              :rules="[$helper.rules.date]"
            >
            </q-input>
          </div>
          <div>
            <q-input
              dense
              label="تا تاریخ"
              filled
              v-model="date.to"
              :rules="[$helper.rules.date]"
            >
            </q-input>
          </div>
          <div class="q-mb-md">
            <q-btn
              dense
              outline
              class="q-pa-xs text-dark"
              icon="event"
              label="بازه زمانی"
            >
              <q-popup-proxy transition-show="scale" transition-hide="scale">
                <q-date
                  v-model="tempDate"
                  calendar="persian"
                  range
                  :options="optionsFn"
                >
                  <div class="row items-center justify-end q-gutter-sm">
                    <q-btn
                      label="لغو"
                      color="primary"
                      flat
                      v-close-popup
                      @click="tempDate = date"
                    />
                    <q-btn
                      label="ثبت"
                      color="primary"
                      flat
                      @click="changeDate"
                      v-close-popup
                    />
                  </div>
                </q-date>
              </q-popup-proxy>
            </q-btn>
          </div>
          <div class="q-mb-md">
            <q-btn
              class="q-py-xs q-px-lg"
              dense
              color="primary"
              icon="search"
              label="جستجو"
              @click="onSearch"
            />
          </div>
        </div>
        <div>
          <div>
            <q-btn
              round
              flat
              color="primary"
              icon="mdi-update"
              @click="onUpdate"
            />
          </div>
        </div>
      </div>
      <CustomeTable :columns="columns" :rows="rows" title="پیام های ارسالی" />
    </div>
    <q-dialog v-model="showDialog">
            <q-card class="bg-white text-primary" style="width: 300px">
             
        <q-card-section>
          <div class="text-title">گیرنده: {{showMessage.receptor}}</div>
        </q-card-section>

        <q-card-section class="q-pt-none text-caption">
متن : {{showMessage.message}}
        </q-card-section>
      </q-card>
    </q-dialog>
    <q-dialog v-model="deleteDialog">
      <!-- <Confirm
        srcImg="icons/logo.svg"
        title="آیا از حذف کاربر اطمینان دارید؟"
        :confirmFunction="confirmFunction"
        @close="confirmDialog = false"
        :loading="dialogLoading"
      /> -->
    </q-dialog>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import { Notify } from "quasar";
import CustomeTable from "src/components/CustomeTable.vue";
import Loading from "src/components/Loading.vue";

export default {
  components: { CustomeTable, Loading },
  computed: {
    ...mapGetters("sms", ["getMyMessages", "getContactByPhone"]),
  },
  created() {
    this.initTable();
  },
  data() {
    return {
      date: {
        from: this.$moment().format("jYYYY/jMM/jDD"),
        to: "",
      },
      loading: false,
      deleteDialog: false,
      showDialog: false,
      showMessage: {receptor:"",message:""},
      deleteFunction: () => {},
      tempDate: {},
      columns: [
        {
          name: "receptor",
          required: true,
          label: "گیرنده",
          align: "left",
          field: "receptor",
          sortable: true,
          format: (val, row) => `${this.getContactByPhone(val).name || val}`,
        },
        {
          name: "message",
          align: "center",
          label: "پیام",
          field: "message",
          sortable: true,
        },
        {
          name: "date",
          align: "center",
          label: "زمان",
          field: "date",
          sortable: true,
        },
        {
          name: "statustext",
          align: "center",
          label: "وضعیت",
          field: "statustext",
          sortable: true,
        },
        {
          icon: "mdi-checkbox-marked-circle-outline",
          name: "operation",
          align: "left",
          label: "عملیات",
          align: "left",
          field: "operation",
        },
      ],
    };
  },
  methods: {
    /**
     *
     * @param {string} date
     */
    optionsFn(date) {
      return (
        this.$moment(date, "jYYYY-jMM-jDD") >=
        this.$moment().subtract("days", 60)
      );
    },
    ...mapActions("sms", ["updateMyMessages"]),
    changeDate() {
      this.date = this.tempDate;
    },
    onUpdate() {
      this.loading = true;
      this.date = {
        from: this.$moment().format("jYYYY/jMM/jDD"),
        to: "",
      };
      var ids = [];
      ids = this.getMyMessages.map((message) => {
        return message.messageid;
      });
      const params = {
        messageid: ids.join(","),
      };
      this.updateMyMessages(params)
        .then(() => {
          this.initTable();
        })
        .finally(() => {
          this.loading = false;
        });
    },
    initTable() {
      this.rows = JSON.parse(JSON.stringify(this.getMyMessages));
      this.rows.forEach((item) => {
        item.operation = [
          {
            label: "مشاهده",
            function: (data) => {
              this.showDialog = true;
              this.showMessage = data.row;
            },
            icon: "mdi-note-multiple-outline",
          },
          {
            label: "حذف",
            function: () => {
              this.deleteDialog = true;
            },
            icon: "mdi-trash-can-outline",
          },
        ];
      });
    },

    onSearch() {
      /**
       * calcute days between two date
       */
      const diff = this.$moment(this.date.to, "jYYYY-jMM-jDD").diff(
        this.$moment(this.date.from, "jYYYY-jMM-jDD"),
        "days"
      );
      if (this.date.to != "" && diff != 1) {
        Notify.create({
          message: "بازه زمانی 1 روز باشد",
          color: "red",
        });
      } else {
        const params = {
          startdate: this.$helper.date.jalaliToUnixFull(
            this.date.from + " 00:00"
          ),
          enddate:
            this.date.to != ""
              ? this.$helper.date.jalaliToUnixFull(this.date.to + " 23:59")
              : "",
        };
        /**
         * @param {object} params startDate & endDate
         */
        this.rows = this.getMyMessages.filter((message) => {
          return this.rangeNumberCheck(
            message.date,
            params.startdate,
            params.enddate
          );
        });
      }
    },
    /**
     * check number between start and end dates
     */
    rangeNumberCheck(value, min, max) {
      if (value > min && (max ? value < max : true)) {
        return true;
      }
    },
  },
};
</script>

<style></style>
