<template>
  <div>
    <div class="row q-col-gutter-sm">
      <div class="col-12 row q-col-gutter-sm">
        <div class="col-12">
          <q-input
            bottom-slots
            outlined
            v-model="receiver"
            @keydown.enter="addReceiver"
            label="گیرنده ها"
            clearable
            dense
            hint="برای اضافه کردن Enter  کنید"
          >
            <template v-slot:after>
              <q-btn
                round
                dense
                flat
                icon="mdi-account-box"
                @click="contactsDialog = true"
              />
            </template>
          </q-input>
        </div>
        <div class="col-12">
          <q-chip
            removable
            v-for="contact in selectedContacts"
            :key="contact"
            @remove="remove(contact)"
            color="primary"
            text-color="white"
          >
            {{ getContactByPhone(contact).name || contact }}
          </q-chip>
        </div>
        <div class="col-12">
          <q-checkbox
            v-model="needTime"
            label="پیامک زمان دار"
            checked-icon="task_alt"
            unchecked-icon="highlight_off"
          />
        </div>
        <q-input
          label="تاریخ"
          outlined
          dense
          class="col-6"
          v-model="date"
          v-if="needTime"
        >
          <template v-slot:prepend>
            <q-icon name="event" class="cursor-pointer">
              <q-popup-proxy
                cover
                transition-show="scale"
                transition-hide="scale"
              >
                <q-date v-model="date" mask="YYYY-MM-DD" calendar="persian">
                  <div class="row items-center justify-end">
                    <q-btn v-close-popup label="بستن" color="primary" flat />
                  </div>
                </q-date>
              </q-popup-proxy>
            </q-icon>
          </template>
        </q-input>
        <q-input
          label="ساعت"
          outlined
          dense
          class="col-6"
          v-model="time"
          v-if="needTime"
        >
          <template v-slot:prepend>
            <q-icon name="access_time" class="cursor-pointer">
              <q-popup-proxy
                cover
                transition-show="scale"
                transition-hide="scale"
              >
                <q-time v-model="time" mask="HH:mm" format24h>
                  <div class="row items-center justify-end">
                    <q-btn v-close-popup label="بستن" color="primary" flat />
                  </div>
                </q-time>
              </q-popup-proxy>
            </q-icon>
          </template>
        </q-input>
      </div>
      <div class="col-12">
        <q-input
          v-model="message"
          label="متن پیام"
          bottom-slots
          counter
          maxlength="900"
          outlined
          type="textarea"
        />
      </div>
    </div>

    <div class="row justify-end">
      <q-btn
        :loading="loading"
        color="primary"
        label="ارسال"
        @click="sentMessage"
      />
    </div>
    <q-dialog v-model="contactsDialog" persistent full-width>
      <Contacts @onSubmit="onSubmit" :lastSelectedContacts="selectedContacts" />
    </q-dialog>
  </div>
</template>

<script>
import Contacts from "components/Contacts.vue";
import { mapGetters, mapActions } from "vuex";
export default {
  /**
   * @props {string} sendType
   */
  props: ["sendType"],
  mounted() {
    this.$route.query.receiver
      ? (this.selectedContacts = [this.$route.query.receiver])
      : "";
  },
  components: { Contacts },
  computed: {
    ...mapGetters("sms", ["getMyContact", "getContactByPhone"]),
  },
  data() {
    return {
      receiver: "",
      date: this.$moment().format("jYYYY-jMM-jDD"),
      time: "00:00",
      loading: false,
      needTime: false,
      selectedContacts: [],
      selectedContact: "",
      message: "",
      contactsDialog: false,
    };
  },
  methods: {
    ...mapActions("sms", ["sendMessage"]),
    /**
     * @method
     * @return selectedContacts with unique elements
     */
    addReceiver() {
      this.selectedContacts = [
        ...new Set(this.selectedContacts).add(this.receiver),
      ];
      this.receiver = "";
    },
    sentMessage() {
      this.loading = true;
      const params = {
        receptor: this.selectedContacts.join(","),
        message: encodeURIComponent(this.message),
      };
      this.needTime
        ? (params.date = this.$helper.date.jalaliToUnixFull(
            this.date + " " + this.time
          ))
        : "";
      this.sendMessage(params)
        .then((e) => {
          if(this.$route.name!='home') {
            this.$router.push({ name: "home" });
          }
        })
        .finally(() => {
          this.loading = false;
        });
    },
    remove(contact) {
      this.selectedContacts.splice(this.selectedContacts.indexOf(contact), 1);
    },
    onSubmit(value) {
      this.selectedContacts = [...this.selectedContacts, ...value];
    },
  },
};
</script>

<style></style>
