<template>
  <div class="">
    <Skeleton
      v-if="mainLoading"
      :count="6"
      :width="45"
      class="q-pa-md q-gutter-y-md"
    />

    <div v-else-if="!error" class="row q-col-gutter-md q-pa-md">
      <div
        class="col-6 col-sm-6 col-md-4 row q-col-gutter-md items-center content-center"
      >
        <span>
          گزارش روزانه
          <q-icon name="info" color="primary"> </q-icon>
          <q-tooltip>
            با فعال بودن گزارش روزانه گزارشی از تعداد ارسال و دریافت و خطاهای
            API و هزینه ارسال روز قبل از طریق پیامک هر روز 10 صبح ارسال می‌شود
          </q-tooltip>
        </span>
        <div style="min-width: 50%">
          <q-toggle
            color="green"
            false-value="disabled"
            true-value="enabled"
            v-model="config.dailyreport"
          />
        </div>
      </div>

      <div
        class="col-6 col-sm-6 col-md-4 row q-col-gutter-md items-center content-center"
      >
        <span>
          حالت دیباگ
          <q-icon name="info" color="primary"> </q-icon>
          <q-tooltip
            >در مواقعی که در حال تست کد های خود هستید و مایل نیستید در صورت
            فراخوانی متد های ارسال پیامک، ارسالی انجام شود و اعتبار شما هزینه
            شود می‌توانید debugMode را فعال کنید
          </q-tooltip>
        </span>
        <div style="min-width: 50%">
          <q-toggle
            color="green"
            false-value="disabled"
            true-value="enabled"
            v-model="config.debugmode"
          />
        </div>
      </div>
      <div
        class="col-6 col-sm-6 col-md-4 row q-col-gutter-md items-center content-center"
      >
        <span>
          ارسال دوباره درصورت خطا
          <q-icon name="info" color="primary"> </q-icon>
          <q-tooltip>
            درصورت فعال بودن پارامتر resendfailed اگر پیامک های ارسال شما وضعیت
            نرسیده به گیرنده را بگیرند به صورت خودکار دوباره ارسال خواهند شد
          </q-tooltip>
        </span>
        <div style="min-width: 50%">
          <q-toggle
            color="green"
            false-value="disabled"
            true-value="enabled"
            v-model="config.resendfailed"
          />
        </div>
      </div>
      <div
        class="col-12 col-sm-6 col-md-4 row q-col-gutter-md items-center content-center"
      >
        <span>
          لاگ وب سرویس
          <q-icon name="info" color="primary"> </q-icon>
          <q-tooltip
            >وضعیت لاگ کردن رکوئست های وب سرویس را مشخص می کند</q-tooltip
          >
        </span>
        <div style="min-width: 50%">
          <q-select
            dense
            outlined
            v-model="config.apilogs"
            map-options
            emit-value
            :options="list.apilogs"
          />
        </div>
      </div>
      <div
        class="col-12 col-sm-6 col-md-4 row q-col-gutter-md items-center content-center"
      >
        <span>
          هشدار کمتر از
          <q-icon name="info" color="primary"> </q-icon>
          <q-tooltip>
            حداقل مبلغ اعتبار حساب شما برای دریافت پیامک هشدار کمبود اعتبار است
          </q-tooltip>
        </span>
        <div style="min-width: 50%">
          <q-input dense outlined v-model.number="config.mincreditalarm" />
        </div>
      </div>
      <div
        class="col-12 col-sm-6 col-md-4 row q-col-gutter-md items-center content-center"
      >
        <span>
          فرستنده پیشفرض
          <!-- <q-icon name="info" color="primary"> </q-icon>
        <q-tooltip>وضعیت لاگ کردن رکوئست های وب سرویس را مشخص می کند</q-tooltip> -->
        </span>
        <div style="min-width: 50%">
          <q-input dense outlined v-model.number="config.defaultsender" />
        </div>
      </div>
      <div class="col-12 row justify-end">
        <q-btn
          :loading="submitLoading"
          @click="onSubmit"
          dense
          color="primary"
          type="submit"
          label="ذخیره"
          class="q-px-md"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import Skeleton from "components/Skeleton.vue";

export default {
  components: { Skeleton },
  methods: {
    ...mapActions("sms", ["setConfig"]),
    onSubmit() {
      this.submitLoading = true;
      this.setConfig(this.config).finally((e) => {
        this.submitLoading = false;
      });
    },
  },
  computed: {
    ...mapGetters("sms", ["getMyConfig"]),
  },
  mounted() {
    this.mainLoading = true;
    this.setConfig()
      .then((e) => {
        this.config = JSON.parse(JSON.stringify(this.getMyConfig));
      })
      .catch((e) => {
        this.error = e;
      })
      .finally((e) => {
        this.mainLoading = false;
      });
  },
  data() {
    return {
      mainLoading: true,
      submitLoading: false,
      error: "",
      config: {
        apilogs: "",
        dailyreport: "",
        debugmode: "",
        defaultsender: "",
        mincreditalarm: 0,
        resendfailed: "",
      },
      list: {
        apilogs: [
          {
            label: "فعال (همه درخواست ها)",
            value: "enabled",
          },
          {
            label: "درصورت وجود خطا",
            value: "justfaults",
          },
          {
            label: "غیرفعال",
            value: "disabled",
          },
        ],
      },
    };
  },
};
</script>

<style></style>
