<template>
  <div class="q-pa-md q-gutter-y-sm">
    <span>لطفا توکن خود را وارد کنید</span>
    <q-form @submit="SET_TOKEN(token)" class="row q-gutter-x-sm">
      <div class="">
        <q-input
          dense
          outlined
          v-model="token"
          lazy-rules
          :rules="[(val) => (val && val.length > 0) || 'توکن فراموش شده :)']"
        />
      </div>
      <div class="">
        <q-btn
          dense
          color="primary"
          type="submit"
          label="ذخیره"
          class="q-px-md"
        />
      </div>
    </q-form>
  </div>
</template>

<script>
import { mapMutations, mapGetters } from "vuex";

export default {
  methods: {
    ...mapMutations("sms", ["SET_TOKEN"]),
  },
  computed: {
    ...mapGetters("sms", ["getToken"]),
  },
  mounted() {
    this.token = this.getToken;
    console.log(this.getToken);
  },
  data() {
    return {
      token: "",
    };
  },
};
</script>

<style></style>
