<template>
  <q-page class="row q-gutter-x-sm justify-around" padding>
    <div class="col-12 col-md-8">
      <q-card class="q-pa-md">
        <Messages />
      </q-card>
    </div>
    <div class="col">
      <q-card class="q-pa-md" v-if="$q.screen.gt.sm">
        <SentForm />
      </q-card>
    </div>
  </q-page>
</template>

<script>
import SentForm from "components/Sent/SentForm.vue";
import Messages from "components/Sent/Messages.vue";
export default {
  name: "PageIndex",
  components: { Messages, SentForm },
};
</script>
