<template>
  <q-page padding>
    <div class="column">
      <q-card>
        <SettingForm />
      </q-card>
      <q-card class="q-my-md">
        <Config />
      </q-card>
    </div>
  </q-page>
</template>

<script>
import SettingForm from "components/Setting/SettingForm.vue";
import Config from "components/Setting/Config.vue";
export default {
  components: { SettingForm, Config },
};
</script>

<style></style>
