<template>
  <q-page padding>
    <q-card class="q-pa-md">
      <SentForm sendType="multiple" />
    </q-card>
  </q-page>
</template>

<script>
import SentForm from "components/Sent/SentForm.vue";
export default {
  components: { SentForm },
};
</script>

<style></style>
