<template>
  <q-page class="q-pa-lg">
    <Messages />
  </q-page>
</template>

<script>
import Messages from "components/Recieve/Messages.vue";
export default {
  components: { Messages },
};
</script>

<style></style>
