<template>
  <q-page class="q-pa-lg">
    <Messages />
    <div class="row justify-end q-mt-md">
       <q-btn color="primary" label="حذف پیام های نهایی" @click="deleteDialog=true"  />
    </div>
        <q-dialog v-model="deleteDialog">
      <Confirm
        title="آیا از حذف کاربر اطمینان دارید؟"
        :confirmFunction="deleteFunction"
        @close="deleteDialog = false"
      />
    </q-dialog>
  </q-page>
</template>

<script>
import Messages from "components/Sent/Messages.vue";
import Confirm from "components/Confirm.vue";
import { mapMutations } from "vuex";
export default {
  components: { Messages,Confirm },
  data() {
    return {
     deleteDialog: false,
      deleteFunction: () => {
        this.DELETE_DELIVERED_MESSAGES();
        this.deleteDialog=false
      },
    }
  },
   methods: {
    ...mapMutations("sms", ["DELETE_DELIVERED_MESSAGES"]),
  },
};
</script>

<style></style>
