<template>
  <div class="">
    <q-toolbar class="bg-primary text-white q-py-lg">
      <q-toolbar-title>ایجاد مخاطب</q-toolbar-title>
    </q-toolbar>
    <q-form
      @submit="onSubmit"
      @reset="onReset"
      class="q-gutter-md q-pa-md bg-white"
    >
      <q-input
        filled
        v-model="contact.name"
        label="نام"
        :rules="[$helper.rules.required]"
      />

      <q-input
        filled
        type="number"
        v-model="contact.phone"
        label="شماره تماس"
        :rules="[
          $helper.rules.required,
          $helper.rules.phone,
          $helper.rules.min11,
        ]"
      />
      <div class="row justify-end">
        <q-btn
          label="لغو"
          type="reset"
          color="primary"
          flat
          class="q-ml-sm"
          v-close-popup
        />
        <q-btn label="ثبت" type="submit" color="primary" v-close-popup />
      </div>
    </q-form>
  </div>
</template>

<script>
import { mapMutations } from "vuex";

export default {
  data() {
    return {
      contact: {
        name: "",
        phone: "",
      },
    };
  },
  methods: {
    ...mapMutations("sms", ["SET_CONTACT"]),
    onSubmit() {
      const params = {
        name: this.contact.name,
        phone: this.contact.phone,
        id: Math.random() + 10,
      };
      this.SET_CONTACT(params);
      this.contactDialog = false;
    },
    onReset() {
      this.contact.name = "";
      this.contact.phone = "";
    },
  },
};
</script>
