<template>
  <div class="">
    <q-badge color="primary" class="q-pa-sm" @click="refresh">
      اعتبار شما : {{ getBalance.toLocaleString() }} ریال
      <q-icon
        :loading="loading"
        color="secendray"
        name="autorenew"
        :class="`q-ml-sm ${loading ? 'rotate' : ''}`"
        size="xs"
      />
    </q-badge>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
  data() {
    return {
      loading: false,
    };
  },
  methods: {
    ...mapActions("sms", ["fetchBalance"]),
    refresh() {
      this.loading = true;
      this.fetchBalance().finally((e) => (this.loading = false));
    },
  },
  computed: {
    ...mapGetters("sms", ["getBalance"]),
  },
};
</script>
