<template>
  <div>
    <q-card class="rounded-1 col-12 q-pa-xl">
      <p class="text-grey-8 q-mt-sm">{{ title }}</p>
      <q-card-section>
        <div class="row wrap q-col-gutter-md q-mb-sm">
          <div class="col">
            <q-btn
              color="negative"
              class="text-primary rounded-1 full-width"
              outline
              @click="$emit('close')"
              label="خیر"
            />
          </div>
          <div class="col">
            <q-btn
              @click="confirmFunction"
              color="white"
              class="bg-primary rounded-1 full-width"
              flat
              label="بله"
              :loading="loading"
            />
          </div>
        </div>
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
export default {
  name: "Confirm",
  props: {
    confirmFunction: {
      type: Function,
    },
    title: {
      type: String,
    },
    loading: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style></style>
