<template>
  <div>
    <q-card class="no-shadow">
      <q-toolbar class="bg-primary text-white">
        <q-toolbar-title>مخاطبین</q-toolbar-title>
      </q-toolbar>
      <div class="column q-gutter-y-sm q-pa-md">
        <div v-for="contact in filterdContact" :key="contact.id">
          <q-checkbox
            :label="contact.name"
            :val="contact.phone"
            :value="contact"
            v-model="selectedContacts"
          />
        </div>
        <center v-if="!filterdContact.length">مخاطبی موجود نمیباشد :(</center>
      </div>
      <q-card-actions align="right">
        <q-btn flat label="لغو" color="primary" v-close-popup />
        <q-btn
          label="ثبت"
          color="primary"
          class="q-px-md"
          v-close-popup
          @click="onClick"
        />
      </q-card-actions>
    </q-card>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  props: ["lastSelectedContacts", "selectType"],
  computed: {
    ...mapGetters("sms", ["getMyContact"]),
    filterdContact() {
      return this.getMyContact.filter(({ phone }) => {
        return !this.lastSelectedContacts.includes(phone);
      });
    },
  },
  created() {},
  data() {
    return {
      selectedContacts: [],
    };
  },
  methods: {
    onClick() {
      this.$emit("onSubmit", this.selectedContacts);
    },
  },
};
</script>

<style></style>
