<template>
  <div>
    <q-table :title="title" :data="rows" :columns="columns" row-key="name">
      <template v-slot:body-cell-date="props">
        <q-td :props="props">
          <q-badge
            color="info"
            text-color="primary"
            :label="$helper.date.toShamsiFull(props.value)"
          />
        </q-td>
      </template>
      <template v-slot:body-cell-message="props">
        <q-td :props="props">
          <q-item>
            <q-item-section>
              <q-item-label lines="1">{{ props.row.message }}</q-item-label>
            </q-item-section>
          </q-item>
        </q-td>
      </template>
      <template v-slot:body-cell-operation="props">
        <q-td :props="props">
          <q-btn
            v-for="button in props.row.operation"
            :key="button.label"
            v-show="!(button.label == 'حذف' && props.row.status != 10)"
            flat
            :icon="button.icon"
            color="primary"
            :label="button.label"
            @click="button.function(props)"
          />
        </q-td>
      </template>
    </q-table>
  </div>
</template>

<script>
export default {
  props: ["rows", "columns", "title"],
};
</script>

<style></style>
