<template>
  <div>
    <q-expansion-item
      exact
      :to="link || null"
      :icon="icon"
      :label="title"
      group="somegroup"
      header-class="text-white"
      active-class="bg-secondary"
      :expand-icon-class="!childrens ? 'hidden' : 'text-white'"
    >
      <q-item
        v-show="childrens"
        class="text-white"
        v-for="(item, index) in childrens"
        :key="index.link"
        active-class="bg-secondary"
        clickable
        v-ripple
        :to="item.link"
        exact
      >
        <q-item-section>
          <q-icon
            style="display: contents"
            color="white"
            name="subdirectory_arrow_left"
          />
          {{ item.title }}</q-item-section
        >
      </q-item>
    </q-expansion-item>
    <q-separator dark />
  </div>
</template>

<script>
export default {
  name: "EssentialLink",
  props: {
    title: {
      type: String,
      required: true,
    },
    caption: {
      type: String,
      default: "",
    },
    link: {
      default: null,
    },
    icon: {
      type: String,
      default: "",
    },
    active: {
      type: String,
    },
    childrens: {
      type: Array,
      defalt: null,
    },
  },
};
</script>
