<template>
  <div class="q-gutter-md row">
    <q-skeleton
      type="QInput"
      v-for="i in count"
      :key="i"
      :width="width + '%'"
    />
  </div>
</template>
<script>
export default {
  props: {
    count: {
      type: Number,
      default: 10,
    },
    height: {
      type: Number,
      default: 10,
    },
    width: {
      type: Number,
      default: 100,
    },
  },
  data() {
    return {
      skeletonTypes: ["QInput"],
    };
  },
};
</script>
