<template>
  <div>
    <div v-if="loading">
      <Loading />
    </div>
    <div v-else>
      <div class="row justify-between items-center content-center q-my-sm">
    <div class="row q-gutter-x-sm col-8">
          <q-select dense outlined v-model="linenumber" :options="numberList"  label="فرستنده" />
          <q-toggle
        v-model="isread"
        label="خوانده شده"
        :true-value="1"
        :false-value="0"
      />
    </div>
     <div>
         <div>
              <q-btn round flat color="primary" icon="mdi-update" @click="fetchData"/>
        </div>
     </div>
      </div>
      <CustomeTable
        :columns="columns"
        :rows="rows"
        title="پیام های ارسالی"
      />
    </div>
    <q-dialog v-model="deleteDialog">

    </q-dialog>
  </div>
</template>

<script>
import CustomeTable from "src/components/CustomeTable.vue";
import Loading from "src/components/Loading.vue";
export default {
  components: { CustomeTable, Loading },
  created() {
this.fetchData()
  },
  data() {
    return {
        linenumber:"10008663",
        isread:0,
        numberList:[
          "10008663"
        ],
      loading: false,
      deleteDialog: false,
      tempDate: {},
      rows: [],
      columns: [
        {
          name: "receptor",
          required: true,
          label: "گیرنده",
          align: "left",
          field: "receptor",
          sortable: true,
        },
        {
          name: "message",
          align: "center",
          label: "پیام",
          field: "message",
          sortable: true,
        },
        {
          name: "date",
          align: "center",
          label: "زمان",
          field: "date",
          sortable: true,
        },
        {
          name: "statustext",
          align: "center",
          label: "وضعیت",
          field: "statustext",
          sortable: true,
        },
        {
          icon: "mdi-checkbox-marked-circle-outline",
          name: "operation",
          align: "left",
          label: "عملیات",
          align: "left",
          field: "operation",
        },
      ],
    };
  },
  methods:{
    fetchData() {
      this.loading=true;
      const params ={
        linenumber:this.linenumber,
        isread:this.isread
      }
      this.$axios.get("/sms/receive.json" , {params}).then(({data}) => {
            this.rows = data.entries;
            this.rows.forEach((item) => {
              if(!item.operation)
             {
               item.operation = [
                {
                  label: "پاسخ",
                  function: (data) => {
                    this.$router.push({
                      name: "messageCreate",
                      query: {
                        receiver: data.row.sender,
                      },
                    });
                  },
                  icon: "mdi-note-multiple-outline",
                },
              ];
             }
            });
          })
          .finally(() => {
            this.loading = false;
          });
  },
    watch: {
    // whenever question changes, this function will run
    isread() {
      this.fetchData()
    }
    }
  }
};
</script>

<style></style>
