<template>
  <q-layout view="hHr lpR fFr">
    <q-header class="bg-info" elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          color="primary"
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />
        <q-toolbar-title class="text-primary">{{
          $route.meta.name
        }}</q-toolbar-title>
        <Balance />
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-primary"
      :width="200"
      :breakpoint="500"
      :mini="miniState"
      @mouseover="miniState = false"
      @mouseout="miniState = true"
    >
      <q-list>
        <!-- <q-item-label header class="text-grey-8">
          Essential Links
        </q-item-label>-->
        <EssentialLink
          v-for="link in essentialLinks"
          :key="link.title"
          v-bind="link"
        />
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import EssentialLink from "components/EssentialLink.vue";
import Balance from "components/Balance.vue";

export default {
  name: "MainLayout",
  components: { EssentialLink, Balance },
  data() {
    return {
      miniState: true,
      leftDrawerOpen: false,
      essentialLinks: [
        {
          title: "پیشخوان",
          icon: "dashboard",
          link: { name: "home" },
        },
        {
          title: "پیام ها",
          icon: "receipt",
          childrens: [
            {
              title: "ایجاد پیام",
              link: "/messages/create",
            },
            {
              title: "پیام های ارسالی",
              link: "/messages/sent",
            },
            {
              title: "پیام های دریافتی",
              link: "/messages/receives",
            },
          ],
        },
        {
          title: "مخاطبین",
          icon: "mdi-account",
          link: "/contacts",
        },
        {
          title: "تنظیمات",
          icon: "mdi-cogs",
          link: { name: "setting" },
        },
      ],
    };
  },
};
</script>
